@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes typing {
  from { width: 0ch; }
  to { width: 22ch; } /* set to the max length of your animated text */
}

@keyframes blinkCaret {
  50% { border-color: transparent; }
}

html {
  scroll-behavior: smooth;
}